#btnRojo{
  background-color: #f66;
}
#btnVerde{
  background-color: #6f6;
}
#btnAzul{
  background-color: #66f;
}
form{
  display: flex;
  flex-direction: column;
  width: 350px;
}
input[type="submit"]{
  margin-top: 1vh;
}
#marcador{
  background-color: #fd0;
  border-radius: 10px;
  margin-top: 5px;
}
.resaltado{
  background-color: #fd9;
  border: solid 3px #f00;
  border-radius: 5px;
}
#btnOcultador{
  display: block;
  margin-top: 1vw;
}
.txtSecret{
  display: none;
}
#operaciones{
  text-align: center;
}
.ej14 img{
  width: 300px;
  transition: all .5s;
}
.ej14 img:hover{
  transform: scale(1.3);
}
.ej16{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
}
.ej16 img{
  width: 400px;
  height: 300px;
}
.ej16 input{
  text-align: center;
}
.contadorClicks{
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
}
.contadorClicks p{
  width: 150px;
  height: 60px;
  background-color: #3936;
  margin: 2vw;
  text-align: center;
  font-size: 50px;
}
.contadorClicks button{
  width: 120px;
  height: 20px;
  border-radius: 10px;
}