main{
  display: flex;
}
form{
  display: flex;
  flex-direction: column;
}
form input, button{
  width: 20vw;
}
div.tarjeta{
  margin: 5vw 10vw;
  position: relative;
}
.tarjeta img{
  width: 50vw;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #4448;
}
div.infoTarjeta{
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  position: absolute;
  top: 3vw;
  text-align: center;
}
.infoTarjeta p{
  margin-left: 25%;
  width: 50%;
  font-size: 2.5vw;
  margin-block: .3em;
  font-family: fantasy;
  color: #222;
  text-shadow: 1px 1px  #eee;
  background-color: #00ffff44;
  border-radius: 10px;
}
