/* propiedades generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  background-color: var(--bg-color-1);
}
a {
  text-decoration: none;
  color: #2a2b2a;
}
/* variables */
:root {
  /* configuracion de variables de colores */
  /*fuentes*/
  --h1-font: Broadway, Stencil, Arial;
  --h2-font: Arial, sans-serif, helvetica;
  --h1-color: #0096ff;
  --h2-color: #00439e;
  /*colores de fondo*/
  --bg-color-1: #eee;
  --bg-color-5: #ccc;
  --bg-color-6: #0085dd;
}
/* header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vw;
}
.logo img {
  width: 16vw;
}
.titulo-fecha {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-fecha h1 {
  font-family: var(--h1-font);
  color: var(--h1-color);
  font-size: 6vw;
}
.titulo-fecha p {
  font-size: 1.5vw;
}
.icono-clima {
  display: flex;
  align-items: center;
}
.icono-clima img {
  width: 10vw;
}
.icono-clima a p{
  margin-top: -25px;
  font-size: 1.2vw;
}
.datos-clima{
  font-size: 1.3vw;
}
/*nav*/
nav{
  position: sticky;
  top: 0;
}
nav ul{
  background-color: var(--bg-color-6); 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}
nav ul a{
  font-weight: bold;
  font-family: var(--h2-font);
  color: #eee;
}
/* main */
main {
  display: flex;
  margin-bottom: 10vh;
}
.container-principal {
  display: flex;
  flex-direction: column;
}
.container-principal h2 {
  color: var(--h2-color);
  font-family: var(--h2-font);
  margin-top: 0;
  margin-bottom: .7vw;
  font-size: 3vw;
}
/* página principal */
.seccion-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82vw;
  height: 100%;
  padding: 1.5vw;
}
.seccion-noticias img {
  border-radius: 3px;
  width: 35vw;
}
.noticias-tema {
  display: flex;
  border-bottom: 1px solid #0085dd;
}
.noticias-tema div p::first-letter{
  font-size: 2em;
}
.noticias-tema div {
  width: 38vw;
  padding: 1vw;
}
.cita {
  font-style: italic;
}
.enlaces {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 18vw;
}
.enlaces h3 {
  font-family: var(--h2-font);
  font-size: 2vw;
  color: var(--h2-color);
  text-align: center;
  margin-bottom: 1vw;
}
.enlaces img {
  width: 12vw;
  height: 16vh;
  border-radius: 10%;
}
/* noticias individuales */
.destacado{
  font-style: oblique;
}
.cont-not-unica {
  background-color: var(--bg-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82vw;
  padding: 1.5vw;
}
.cont-not-unica h3 {
  margin-bottom: 2vw;
  text-align: center;
  font-size: 3vw;
}
.cont-not-unica img {
  width: 50vw;
  height: auto;
}
.cont-img-p {
  display: flex;
}
.cont-p ul{
  margin-left: 3vw;
}
.cont-not-unica p {
  padding: 1vw;
}
.cont-not-unica h4 {
  color: var(--h2-color);
  margin: 2vw;
}
.cont-zona{
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cont-zona ul li{
  font-style: italic;
  list-style-type: circle;
}
.cont-tabla{
  text-align: center;
}
table{
  margin-left: 12vw;
}
table, tr, td{
  border: 1px solid #00439e;
  border-collapse: collapse;
  background-color: #00439e11;
  text-align: center;
  padding: .2vw 1vw;
}
/* footer */
footer {
  background-color: var(--bg-color-5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  bottom: 0;
  position: fixed;
}
footer h4 {
  font-family: var(--h1-font);
  color: var(--h1-color);
  font-size: 2vw;
}
footer a{
  margin: 1vw;
}
footer a {
  color: #0096ffbb;
  font-size: 2vw;
}
/* form registro */
.form-container{
  width: 100%;
  height: 74vh;
}
.form-container h2, h3 {
  text-align: center;
  color: #00439e;
}
.form-container-info{
  display: flex;
  justify-content: space-evenly;
}
.info-pers div{
  display: flex;
  justify-content: space-between;
  margin: .3vh 0;
}
.info-pers input, textarea{
  padding: 0 1vw;
  background-color: #0096ff33;
  border: none;
}
.info-pers input:focus{
  background-color: #0096ff11;
  outline-color: #0096ff33;

}
.info-pers textarea:focus{
  background-color: #0096ff11;
  outline-color: #0096ff33;
}
textarea{
  resize: none;
}
.boton{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boton input{
  width: 130px;
  height: 40px;
  border: none;
  color: #eee;
  background-color: var(--bg-color-6);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.boton input:active{
  background-color: #eee;
  color: var(--bg-color-6);
  box-shadow: 0px 0px 8px 5px #0085dd;
}